{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><div style="background-color:#EEEEEE;height:50px;width:1200px;">
    <h1> Event Management <a href="{% url 'event_new' %}"></h1></div><h2>Add a new event</a></h2>
 <br>
     <table border="1">
             <tr>
        <th>Event</th>
        <th>Category</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
         {% for event in events %}
    <tr>
        <td>{{event.Event_name}}</td>
        <td>{{event.Event_category}}</td>
        <td>{{event.Event_location}}</td>
        <td>{{event.Event_start_date}}</td>
        <td>{{event.Event_end_date}}</td>
        <td>(<a href="{% url 'event_edit' event.Event_id %}">edit</a>)</td>
      {% empty %}<li>Sorry, no event information yet.</li>
 {% endfor %}
             </tr>
</table>
</body>
</html>

{%  endblock  %}