
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <title>base</title>
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
</head>
<body>

<ul>
    {% if user.is_authenticated %}
     <li id="login">@{{user.username}}<a href="{% url 'logout'%}"> logout</a> </li>

    {% else %}
     <li><a href="{% url 'login'%}"> login</a> </li>
    {% endif %}

</ul>
<div class="sidenav">
  <h2>NGO</h2>
  <a href="#">User Management</a>
  <a href="#">Event Management</a>
  <a href="#">User View</a>
</div>


{% block content %}
{% endblock %}
</body>
</html>