<!DOCTYPE html>
{% extends 'User/base.html' %}
{% block content %}

<div class="sidenav">
  <a href="#">User Management</a>
  <a href="#">Event Management</a>
  <a href="#">User View</a>
</div>

<div class="content">
  <h2>User Management</h2>
  <h3 align="right">Add User</h3>
  <table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </tr>

  <tr>
    <td>lahcen</td>
    <td>errich</td>
    <td>$100</td>
    <td>admin</td>
    <td>Edit</td>
    <td>delete</td>
  </tr>
  </table>

</div>


{% endblock %}}